<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title><%= title %></title>
    <link rel="shortcut icon" href="/static/images/icons/favicon.ico"/>
    <link rel="bookmark" href="/static/images/icons/favicon.ico"/>
    <link rel="stylesheet" href="/static/plugins/zui/css/zui.css">
    <link rel="stylesheet" href="/static/plugins/zui/lib/datagrid/zui.datagrid.min.css">
    <link rel="stylesheet" href="/templatesJs/admin/css/style.css">
    <style>
        html,body {
            min-height: 100%;
            background-color: #f3f3f3;
        }
        .datagrid {
            margin-top: 10px;
        }
        .datagrid, .datagrid-container {
            background-color: white;
        }
    </style>
</head>
<body>
<div id="app">
    <transition name="appShow">
        <div v-show="appShow" class="container-fluid">
            <div id="datagridContent" class="datagrid">
                <div class="datagrid-container"></div>
                <div class="pager"></div>
            </div>

            <!-- 编辑用户信息 -->
            <div class="modal fade" id="edit">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">关闭</span></button>
                            <h4 class="modal-title">编辑用户信息</h4>
                        </div>
                        <div class="modal-body">
                            <br>
                            <br>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn " @click="cancelEdit">取消</button>
                            <button type="button" class="btn btn-primary" @click="sureEdit">确定</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</div>
</body>
<script type="text/javascript" src="/static/plugins/jquery.min.js"></script>
<script type="text/javascript" src="/static/plugins/zui/js/zui.js"></script>
<script type="text/javascript" src="/static/plugins/zui/lib/datagrid/zui.datagrid.min.js"></script>
<script type="text/javascript" src="/static/plugins/web.tool.js"></script>
<script type="text/javascript" src="/static/plugins/vue.min.js"></script>
<script type="text/javascript" src="/templatesJs/admin/setting/manager.js"></script>
</html>
