<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title><%= title %></title>
  <link rel="shortcut icon" href="/static/images/icons/favicon.ico"/>
  <link rel="bookmark" href="/static/images/icons/favicon.ico"/>
  <link rel="stylesheet" href="/static/plugins/ff-ui/ff-ui.css">
</head>
<body>
<div class="ff-button ff-button-success" onclick="showAlert('success', 'top')">成功</div>
<div class="ff-button ff-button-error" onclick="showAlert('error', 'center')">失败</div>
<div class="ff-button ff-button-warning" onclick="showAlert('warning', 'bottom')">警告</div>
<div class="ff-button ff-button-primary" onclick="showAlert('normal', 'bottom')">普通</div>
<div class="ff-button" onclick="showConfirm()">普通</div>
</body>
<script type="text/javascript" src="/static/plugins/ff-ui/ff-ui.js"></script>
<script>
    function showAlert (type, position) {
        $FFUI.alert({
            type: type,
            // position: position
        })
    }
    function showConfirm() {
        $FFUI.confirm({
            cover: true,
            callback: function (r) {
                console.log(r);
                $FFUI.alert({
                    message: r,
                    type: $FFUI.Alert.AlertType.success,
                    position: $FFUI.Alert.AlertPosition.center
                })
            }
        })
    }
</script>
</html>
