<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="shortcut icon" href="/images/icons/favicon.ico"/>
  <link rel="bookmark" href="/images/icons/favicon.ico"/>
  <link rel="stylesheet" href="/plugins/layui/css/layui.css">
  <link rel="stylesheet" href="/admin/css/style.css">
</head>
<body class="layui-layout-body">
<div id="app">
  <transition name="appShow">
    <div v-show="appShow" class="layui-layout">
    </div>
  </transition>
</div>
</body>
<script type="text/javascript" src="/plugins/vue.min.js"></script>
<script type="text/javascript" src="/plugins/layui/layui.js"></script>
<script type="text/javascript" src="/admin/index.js"></script>
</html>
